.img-marco{
  width: 100%;
  height: 600px;
  border-radius: 10px;
  margin-bottom: 1px;
}

.content{
  width: 30%;
  text-align: center;
  color: #fff;
  margin-bottom: 4px;
}

.App{
  display: flex;
  justify-content: space-evenly;
}