.contenedor {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: #fff;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
}

.caja {
  width: 380px;
  margin-top: 3rem;
  margin-bottom: 4rem;
  border-radius: 10px;
  border: 1px solid #ffffff;
  color: #fff;
  background-color: rgb(0, 77, 179);
}

img {
  width: 350px;
  height: 500px;
  border-radius: 10px;
}

button {
  color: #dd2c00;
  background-color: #ffffff;
  border-radius: 10px;
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  outline: none;
  margin-top: 1rem;
}

span {
  margin-top: 1rem;
}